---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/1-globals.css";
import "../styles/2-variables.css";
import "../styles/3-defaults.css";
import { TITLE } from "../utils";

const {title} = Astro.props;
const headingTitle = title ?? TITLE;
const pageTitle = `${title ? `${title} | ` : ""}${TITLE}`
const DESCRIPTION = 'One Place A Day is a website where sammy samkough shares his thoughts on places he goes to'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={DESCRIPTION} />
    <!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
		<title>{pageTitle}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content="https://oneplaceaday.com" />
    <meta property="og:site_name" content={TITLE} />
	</head>
	<body>
        <Header />
        <main>
		<h1>{headingTitle}</h1>
        <slot />
        </main>
        <Footer />
	</body>
</html>

<style>
    main {
    }
</style>