---
import Footer from "../components/Footer.astro";
import "../styles/1-globals.css";
import "../styles/2-variables.css";
import "../styles/3-defaults.css";
import { TITLE } from "../utils";

const { title } = Astro.props;
const pageTitle = `${title ? `${title} | ` : ""}${TITLE}`;
const DESCRIPTION =
  "One Place A Day is a website where Sammy shares his thoughts on places he goes to.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={DESCRIPTION} />
    <!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
    <title>{pageTitle}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content="https://oneplaceaday.com" />
    <meta property="og:site_name" content={TITLE} />
  </head>
  <body>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100dvh;
  }
  main {
    flex: 1;
  }
  h1 {
    font-family: "RhythmTwo-Solid";
    font-weight: 500;
    font-size: 2.2em;
  }
</style>
